<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <!-- Add any necessary CSS stylesheets or external libraries here -->
</head>
<body>
    <h1>Profile Page</h1>
    
    <!-- Display the representative's information here -->
    <% unless @representative.photo_url.nil? %>
      <%= image_tag(@representative.photo_url, alt: @representative.name) %>
    <% end %>
    <h2><%= @representative.name %></h2>
    <% unless @representative.title.nil? %>
        <p>Title: <%= @representative.title%></p>
    <% end %>
    <% unless @representative.party.nil? %>
        <p>Party: <%= @representative.party%></p>
    <% end %>
    <% unless @representative.address_line1.nil? %>
        <p>Address line 1: <%= @representative.address_line1 %></p>
    <% end %>
    <% unless @representative.address_line2.nil? %>
      <p>Address Line 2: <%= @representative.address_line2 %></p>
    <% end %>
    <% unless @representative.city.nil? and @representative.state.nil? and @representative.zip.nil? %>
      <p><%= @representative.city %>, <%= @representative.state %>, <%= @representative.zip %></p>
    <% end %>
    <!-- Add more information as needed -->
    
    <!-- Add any additional sections or components as needed -->
</body>
</html>
